html
    head
        title Express Pug
        style
            include style.css

    body
        center
            h1=name
            div
                img(src=link1)#una
                img(src=link2)#duha
                img(src=link3)#tulo
            br
            br
            ul
                each item in delicacies
                    li=item
            label="Major Island: " +island_group



    